<canvas #canvas class="webgl"></canvas>

<div class="loading-bar"></div>

<div class="point SUN">
    <div class="label">Soleil</div>
</div>
<div class="point MERCURE">
    <div class="label">Mercure</div>
</div>
<div class="point VENUS">
    <div class="label">Venus</div>
</div>
<div class="point EARTH">
    <div class="label">Terre</div>
</div>
<div class="point MARS">
    <div class="label">Mars</div>
</div>
<div class="point JUPITER">
    <div class="label">Jupiter</div>
</div>
<div class="point SATURN">
    <div class="label">Saturn</div>
</div>
<div class="point URANUS">
    <div class="label">Uranus</div>
</div>
<div class="point NEPTUNE">
    <div class="label">Neptune</div>
</div>